@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

html {
  font-size: 85%;
  scroll-behavior: auto;
}

body {
  font-family: var(--font-body), Arial, sans-serif;
}

h1
{
  font-family: "Times New Roman", Times, serif;

  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Georgia, serif;
}